@model MyApp.Application.ViewModels.CreateNewProjectViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Project/Add" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input name="Name" class="form-control" type="text" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Client</label>
            <div class="col-md-10">
                <select>
                    @foreach (var item in Model.Clients)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-10">
                <input name="Description" class="form-control" type="text" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Completion Date</label>
            <div class="col-md-10">
                <input name="CompletionDate" class="form-control" type="datetime" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                <a href="/Project/Index" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </div>
</form>