@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app"></div>
<script src="~/scripts/clientEdit.js"></script>
<script>
    MyApp.renderApp(MyApp.EditClient, "@ViewBag.ClientId");
</script>
