@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-component="EditProject"
     data-prop-projectid="@ViewBag.ProjectId"
     data-prop-id="@ViewBag.ProjectId"></div>
<script src="/script/projectEdit.js"></script>